h2 {
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    font-family: Verdana,Courier;
    font-size: 1.2em;
}

#config_test, #chat_test, #playername_test {
    border: 1px solid #b8860b;
    background-color: #f5f5f5;
    padding: 11px;
    border-radius: 15px;
    margin: 3px;
}

#config_test {
    display: block;
    height: 300px;
}

#config_content, #log_config {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

#config_content {
    width: 59%;
    height: 260px;
}

#log_config {
    width: 39%;
    height: 290px;
}

.CodeMirror {
    width: 59%;
    float: left;
    border: 1px double #add8e6;
    margin: 0;
}

#log_config {
    margin-top: 0;
    float: right;
}


.log {
    font-size: .8em;
    overflow: auto;
    border: solid 1px #9AACAE;
    font-family: consolas,courier,Georgia,Serif;
    background: #EFEFEF;
    padding: 5px;
}

#chat {
    width: 60%;
}

#chat_test, #playername_test {
    display: block;
    float: left;
    width: 400px;
    padding-right: 15px;
}

#version_info {
    clear: left;
    padding-top: 20px;
    margin-left: 5px;
    font-family: tahoma;
    font-size: .7em;
    color: gray;
}