{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{{ super() }}{% endblock %}


{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block head_title %}{{ super() }}{% endblock %}
{% block head_description %}{{ super() }}{% endblock %}

{% block content %}

<section>
    <form action="#" method="post">
        <p>
            <h2>Censor plugin config zone</h2>
            <textarea name="config_content" id="config_content" required>{{ config_content }}</textarea>
            <pre id="log_config">{{ log_config }}</pre>
        </p>

        <hr style="clear:both"/>

        <p>
            <h2>Test zone</h2>
            <label for="chat">Joe says </label>
            <input name="chat" id="chat" type="text" required value="{{ chat_text }}"/>
            <input type="submit" value="send" />
        </p>

        <pre id="chat_consequences">{{ chat_consequences }}</pre>
    </form>

</section>

{% endblock %}
