{% extends "base.html" %}

{% block title %}{{ super() }}{% endblock %}
{% block meta_description %}{{ super() }}{% endblock %}


{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/libs/codemirror/codemirror.css') }}">
{% endblock %}

{% block head_title %}{{ super() }}{% endblock %}
{% block head_description %}{{ super() }}{% endblock %}

{% block content %}

<section>
    <form action="#" method="post">
        <h2>Censor plugin config zone</h2>

        <section id="config_test">
            <textarea name="config_content" id="config_content" required>{{ config_content }}</textarea>
            <pre id="log_config" class="log">{{ log_config }}</pre>
        </section>


        <h2>Test zone</h2>
        <section id="chat_test">
            <label for="chat">Joe says </label>
            <input name="chat" id="chat" type="text" value="{{ chat_text }}"/>
            <input type="submit" value="send" />
            <pre id="chat_consequences" class="log">{{ chat_consequences }}</pre>
        </section>

        <section id="playername_test">
            <label for="playername">Test player name </label>
            <input name="playername" id="playername" type="text" value="{{ playername_text }}"/>
            <input type="submit" value="send" />
            <pre id="playername_consequences" class="log">{{ playername_consequences }}</pre>
        </section>

    </form>

    {% if b3_version %}
    <p id="version_info">
        Test done with B3 v{{ b3_version }}
        {% if censor_version %}, censor plugin v{{ censor_version }} {% endif %}
    </p>
    {% endif %}

</section>

{% endblock %}


{% block bottom_javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/libs/codemirror/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/codemirror/foldcode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/codemirror/xml.js') }}"></script>
    <script type="text/javascript">
        var foldFunc_xml = CodeMirror.newFoldFunction(CodeMirror.tagRangeFinder);

        var editor;
        $(document).ready(function(){
            editor = CodeMirror.fromTextArea($('#config_content').get(0), {
                mode: {name: "xml", alignCDATA: true},
                lineNumbers: true,
                lineWrapping: true,
                onGutterClick: foldFunc_xml,
                extraKeys: {
                    "Ctrl-Q": function(cm){foldFunc_xml(cm, cm.getCursor().line);},
                }
            });
        });
    </script>
{% endblock %}